.firstPageWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &_typography {
    display: flex;
    padding: 28px 0;
    text-align: left;
    width: 100%;

    h1 {
      width: 100%;
      @include font($secondTextColor, 700, 28px);
      text-transform: uppercase;
      letter-spacing: 0.15em;
      padding-bottom: 5px;
      border-bottom: 2px solid $decorColor;

      span {
        @include font($thirdTextColor, 300, 20px);
        text-transform: none;
        letter-spacing: 0;
      }
    }
  }

  &_cardsWrapper {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  &_pagination {
    width: 100vW;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: center;
    background-color: #000;
  }
}