.summeryPageWrapper {
  flex-grow: 1;
  display: flex;
  height: 80%;
  width: 100%;
  flex-direction: row;
  align-items: center;

  &_navigateButtons {
    width: 78px;
    height: 78px;
    cursor: pointer;
    margin: 0 5%;

    &:hover {
      transform: scale(1.03);
    }
  }

  &_leftSide {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }

  &_rightSide {
    flex-grow: 1;
    padding-right: 50px;
    height: 80%;
  }

  &_followersWrapper {
    overflow-y: scroll;
    height: 80%;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 22px 0;
      border-bottom: 1px solid #BDBDBD;

      span:nth-child(1) {
        @include font($thirdTextColor, 700, 25px);
        width: 50px;
      }

      span:nth-child(3) {
        @include font($thirdTextColor, 400, 18px);
        margin-left: 50px;
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
  }

  &_followersInfo {
    @include font($thirdTextColor, 700, 23px);
    padding-bottom: 20px;
    border-bottom: 1px solid $decorColor;
  }

  &_teamLiderInfo {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }

  &_nameWrapper {
    margin-left: 21px;
    @include font($thirdTextColor, 700, 23px);
  }

  &_projectInfo, &_orgInfo {
    padding-left: 70px;

    h1:nth-child(1) {
      @include font($thirdTextColor, 300, 23px);
      letter-spacing: 2px;
    }

    div {
      height: 2px;
      width: 50%;
      margin: 15px 0;
      border: 1px solid $decorColor;
    }

    h1:nth-child(3) {
      @include font($thirdTextColor, 700, 23px);
    }
  }

}