.userCardWrapper {
  width: 360px;
  height: 94px;
  @media screen and (max-width: $mobileWidth) {
    width: 310px;
    height: 80px;
  }
  padding-left: 15px;
  border: 2px solid $userBoxBorder;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;

  &:hover {
    transform: scale(1.01);
  }

  &_avatar {
    width: 58px;
    height: 58px;
    border-radius: 50%;
  }

  span {
    margin-left: 25px;
  }
}